@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Arvo Bold", sans-serif;
    src: url(../assets/fonts/Arvo/Arvo-Bold.ttf);
}

@keyframes button-animation {
    0% {
      background-position: top right;
    }
    100% {
      background-position: top left;
    }
}

@keyframes button-animation-rev {
    0% {
      background-position: top left;
    }
    100% {
      background-position: top right;
    }
}

a:hover, a:hover span{
    animation: button-animation-rev 0.65s ease-out forwards;
}

.btn-first {
    margin: 1rem 0;
    display: inline-block;
    border-radius: 0.2rem;
    background-color: #d9534f;
    background-image:  linear-gradient(90deg, rgba(217,83,79,1) 50%, rgba(255,255,255,1) 50%);

    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;

    animation: button-animation 0.65s 0.15s ease-out forwards;
}

.btn-first .span-btn {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: white;
    background-image: white;

    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    animation: button-animation 0.65s 0.15s ease-out forwards;
}

.btn-first:hover {
    transition: 0.5s;
}

.btn-first .span-btn:hover {
    transition: 0.5s;
    background-color: #d9534f;
    background-image: #d9534f;
    background-clip: text;
    color: transparent;
}

.btn-seconde {
    margin: 1rem 0;
    display: inline-block;
    border: 2px solid oklch(0.87 0 0);
    border-radius: 0.2rem;
    background-color: white;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(217,83,79,1) 50%);

    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;

    animation: button-animation 0.65s 0.15s ease-out forwards;
}

.btn-seconde .span-btn {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background-color: #e74c3c;
    background-image: #e74c3c;

    background-size: 270%;
    background-repeat: repeat;
    background-position: top right;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    animation: button-animation 0.65s 0.15s ease-out forwards;
}

.btn-seconde:hover {
    transition: 0.5s;
}

.btn-seconde .span-btn:hover {
    background-color: white;
    background-image: white;
    background-clip: text;
    color: transparent;
}